<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{title}}</title>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.9.4/dist/css/uikit.min.css" />
      <link rel="stylesheet" href="/stylesheets/style.css" />
   </head>

   <body class="uk-padding-remove">
      <div class="uk-container-xlarge">
         <div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom: #transparent-sticky-navbar">
            <nav class="uk-navbar-container" uk-navbar style="position: relative; z-index: 980;">
               <div class="nav-overlay uk-navbar-left">
                  <a class="uk-navbar-item uk-logo" href="/"><img src="https://res.cloudinary.com/davidcastillog/image/upload/v1641421921/foodhack/foodhacklog_ipfada.png" alt="Food Hack Logo" width="120em"> </a>
                  <ul class="uk-navbar-nav">
                        <li><a href="/recipe/top10">Top 10</a></li>
                        <li><a href="/recipe/random">Random Recipe</a></li>
                        <li><a href="/recipe/recipe-list">All Recipes</a></li>
                        <li>
                           <a href="#">CATEGORIES</a>
                           <div class="uk-navbar-dropdown">
                              <ul class="uk-nav uk-navbar-dropdown-nav">
                                    <li class="uk-active"><p>Meal Type</p></li>
                                    <li><a href="/recipe/type/breakfast">Breakfast</a></li>
                                    <li><a href="/recipe/type/lunch">Lunch</a></li>
                                    <li><a href="/recipe/type/dinner">Dinner</a></li>
                                    <li><a href="/recipe/type/dessert">Dessert</a></li>
                                    <li><a href="/recipe/type/salad">Salad</a></li>
                              </ul>
                           </div>
                        </li>
                        <li><a class="uk-text-bold uk-text-danger" href="/recipe/create">Create a Recipe</a></li>
                  </ul>
               </div>

               <div class="nav-overlay uk-navbar-right">
                  <ul class="uk-navbar-nav">
                     {{#if user}}
                        <li><a class="uk-text-bold uk-text-danger" href="/user/{{user.username}}">{{user.username}}</a></li>
                              <div class="uk-navbar-dropdown">
                              <ul class="uk-nav uk-navbar-dropdown-nav">
                                    <li><a href="/user/{{user.username}}">My Profile</a></li>
                                    <li><a href="/user/edit/">Edit Profile</a></li>
                                    <li><a href="/user/change-password">Change Password</a></li>
                                    <li><a href="/recipe/user/{{user._id}}">My Recipes</a></li>
                                    <li><a href="/review/user/{{user._id}}">My Reviews</a></li>
                              </ul>
                           </div>
                        <li><a href="/logout">Logout</a></li>
                     {{else}}
                        <li><a href="/signup">Sign Up</a></li>
                        <li><a href="/login">Login</a></li>
                     {{/if}}
                  </ul>
                  <a class="uk-navbar-toggle" uk-search-icon uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#"> SEARCH </a>
                  <a href="" class="uk-icon-button uk-margin-small-right" uk-icon="instagram"></a>
                  <a href="" class="uk-icon-button  uk-margin-small-right" uk-icon="facebook"></a>
               </div>

               <div class="nav-overlay uk-navbar-left uk-flex-1" hidden>
                  <div class="uk-navbar-item uk-width-expand">
                        <form class="uk-search uk-search-navbar uk-width-1-1">
                           <input class="uk-search-input" type="search" placeholder="Search" autofocus>
                        </form>
                  </div>
                  <a class="uk-navbar-toggle" uk-close uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#"></a>
               </div>
            </nav>
         </div>

         {{{body}}}
         <script src="https://cdn.jsdelivr.net/npm/uikit@3.9.4/dist/js/uikit.min.js"></script>
         <script src="https://cdn.jsdelivr.net/npm/uikit@3.9.4/dist/js/uikit-icons.min.js"></script>
         <script src="/js/script.js"></script>
      </div>
   </body>

</html>