<div class="uk-card uk-card-default uk-width-1-2@m uk-align-center">
    <div class="uk-card-header uk-margin-remove-bottom">
        {{#if message}}
        <div class="uk-alert-success" uk-alert>
            {{message}}
        </div>
        {{/if}}
        <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-auto">
                <img class="uk-border-circle" width="55" height="55" src="{{user.profilePic}}">
            </div>
            <div class="uk-width-expand uk-margin-remove-bottom">
                <h3 class="uk-card-title uk-text-danger">{{user.username}}</h3>
            </div>
            <p uk-margin>
            <a class="uk-button uk-button-danger" href="/user/{{user.username}}/follow">Follow</a>
            <a class="uk-button uk-button-secondary" href="/user/{{user.username}}/unfollow">Unfollow</a>
            </p>
        </div>
        <p>
        <span class="uk-text-bold uk-text-danger"> Following: </span><span><a class="uk-text-decoration-none" href="/user/{{user.username}}/following"> {{user._following.length}} </a></span>
        <span class="uk-text-bold uk-text-danger">Followers: </span><span> <a class="uk-text-decoration-none" href="/user/{{user.username}}/followers">{{user._followers.length}}</a></span>
        </p>
    </div>
    <div class="uk-card-body">
        <p><span class="uk-text-bold uk-text-danger">email: </span>{{user.email}}</p>
        {{#if user.firstName}}
        <p><span class="uk-text-bold uk-text-danger">Firstname: </span>{{user.firstName}}</p>
        {{/if}}
        {{#if user.lastName}}
        <p><span class="uk-text-bold uk-text-danger">Lastname: </span>{{user.lastName}}</p>
        {{/if}}
        {{#if user.bio}}
        <hr>
        <p><span class="uk-text-bold uk-text-danger">Bio: </span><p>{{user.bio}}</p></p>
        {{/if}}
    </div>
</div>
{{#if user._recipes}}
<div class="uk-text-center">
    <h3 class="uk-text-danger">{{user.username}}' Recipes</h3>
</div>
{{/if}}
{{#each user._recipes}}
<div class="uk-card uk-card-default uk-align-center uk-width-1-2@m">
    <div class="uk-card-header">
        <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-auto">
                <img class="uk-border-circle" width="40" height="40" src="{{images.[0]}}">
            </div>
            <div class="uk-width-expand">
                <h3 class="uk-card-title uk-margin-remove-bottom">{{name}}</h3>
                        <span class="uk-text-middle uk-text-warning" uk-icon="star"> Rating: {{averageRating}}</span>
                        <span class="uk-text-middle uk-text-muted" uk-icon="comments"> Reviews: {{_reviews.length}} </span>
            </div>
            <div>
            <a href="/recipe/{{_id}}" class="uk-button uk-button-text">View</a>
            </div>
        </div>
    </div>
</div>
{{/each}}