<div class="uk-container uk-container-xsmall uk-align-center">
    <div class="uk-text-center">
    <h3 class="uk-text-danger">{{user.username}}'s recipes</h3>
    </div>
    {{#each recipes}}
    <div class="uk-grid-small uk-child-width-expand@s uk-text-center" uk-grid>
        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <div class="uk-align-center">
                    <div class="uk-padding-small">
                        <ul class="uk-list uk-list-large uk-list-divider uk-margin-small-top">
                            <li>
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="100" height="100" src="{{images.[0]}}">
                                </div>
                                <div class="uk-margin-small-top">
                                <label class="uk-form-label" for="form-horizontal-text"><span class="uk-text-bold">Recipe:</span> <a class="uk-text-decoration-none uk-text-muted" href="/recipe/{{_id}}">{{name}}</a></label>
                                </div>
                                <div>
                                    <label class="uk-form-label" for="form-horizontal-text"><span class="uk-text-bold">Rating: </span>{{averageRating}} / 5</label>
                                </div>
                                <div>
                                    <label class="uk-form-label" for="form-horizontal-text"><span class="uk-text-bold">Reviews: </span>{{_reviews.length}}</label>
                                </div>
                                <div class="uk-margin-small-top">
                                    <a class="uk-button uk-button-danger" href="/recipe/edit/{{_id}}">Edit</a>
                                    <a class="uk-button uk-button-danger" href="/recipe/delete/{{_id}}">Delete</a>
                                </div>
                            </li>
                        </ul>
    {{#if errorMessage}}
    <p uk-alert>{{errorMessage}}</p>
    {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>