<div class="uk-container uk-container-small uk-margin-medium">
    <div class="uk-card uk-card-default uk-width-1-1@m uk-align-center">
    <div class="uk-tile uk-tile-secondary uk-padding-remove">
        <h3 class="uk-padding-small uk-text-center">Edit Recipe</h3>
    </div>
    <form class="uk-form-horizontal uk-margin-small uk-padding-small" enctype="multipart/form-data" action="/recipe/edit/{{recipe.id}}" method="POST">
        <div class="uk-margin">
            <label class="uk-form-label" for="form-horizontal-text">Name:</label>
                <input class="uk-input uk-form-width-large" name="name" type="text" placeholder="Name" minlength="3" maxlength="50" value="{{recipe.name}}">
        </div>

        <div class="uk-margin">
            <label class="uk-form-label" for="form-horizontal-text">Ingredients:</label>
            <textarea class="uk-textarea uk-form-width-large" type="text" name="ingredients" rows="3" placeholder="Ingredients">{{recipe.ingredients}}</textarea>
        </div>

        <div class="uk-margin">
            <label class="uk-form-label" for="form-horizontal-text">Instructions:</label>
            <textarea class="uk-textarea uk-form-width-large" name="instructions" rows="7" placeholder="Instructions">{{recipe.instructions}}</textarea>
        </div>

        <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">Cook Time (min):</label>
        <input class="uk-input uk-form-width-small" type="number" name="cookTime" placeholder="Ex. 10" min="0" max="300" value="{{recipe.cookTime}}">
        </div>

        <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">Preparation Time (min):</label>
        <input class="uk-input uk-form-width-small" type="number" name="prepTime" placeholder="Ex. 20" min="0" max="300" value="{{recipe.prepTime}}">
        </div>

        <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">Total Time (min):</label>
        <input class="uk-input uk-form-width-small" type="number" name="totalTime" placeholder="Ex. 20" min="1" max="300" value="{{recipe.totalTime}}">
        </div>

        <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">Servings</label>
        <input class="uk-input uk-form-width-small" type="number" name="servings" placeholder="Ex. 2" min="1" max="12" value="{{recipe.servings}}">
        </div>

        <div class="uk-margin">
            <label class="uk-form-label" for="form-horizontal-select">Cuisine Type:</label>
                <select class="uk-select uk-form-width-medium" name="cuisineType">
                    <option value="{{recipe.cuisineType}}">{{recipe.cuisineType}}</option>
                    <option value="French">French</option>
                    <option value="Chinese">Chinese</option>
                    <option value="Japanese">Japanese</option>
                    <option value="Indian">Indian</option>
                    <option value="Italian">Italian</option>
                    <option value="Greek">Greek</option>
                    <option value="Spanish">Spanish</option>
                    <option value="Mediterranean">Mediterranean</option>
                    <option value="Lebanese">Lebanese</option>
                    <option value="Moroccan">Moroccan</option>
                    <option value="Turkish">Turkish</option>
                    <option value="Thai">Thai</option>
                    <option value="Mexican">Mexican</option>
                    <option value="Venezuelan">Venezuelan</option>
                    <option value="Peruvian">Peruvian</option>
                    <option value="Brazilian">Brazilian</option>
                    <option value="Argentinian">Argentinian</option>
                    <option value="Colombian">Colombian</option>
                    <option value="Vegan">Vegan</option>
                    <option value="Vegetarian">Vegetarian</option>
                    <option value="Seafood">Seafood</option>
                    <option value="Other">Other</option>
                </select>
        </div>

        <div class="uk-margin">
            <label class="uk-form-label" for="form-horizontal-select">Meal Type:</label>
                <select class="uk-select uk-form-width-medium" name="mealType">
                    <option>{{recipe.mealType}}</option>
                    <option>Breakfast</option>
                    <option>Lunch</option>
                    <option>Dinner</option>
                    <option>Dessert</option>
                    <option>Salad</option>
                </select>
        </div>

        {{#each recipe.images}}
        <label class="uk-form-label" for="form-horizontal-select">Actual images:</label>
        <div class="uk-child-width-1-4@m uk-text-center uk-grid-small" uk-grid>
        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <img class="uk-align-center" data-src="{{this}}" width="150" height="150" uk-img>
            </div>
        </div>
        </div>
        {{/each}}
            <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-select">Replace Images:</label>
                <div uk-form-custom="target: true">
                    <input type="file" name="images" multiple>
                    <input class="uk-input uk-form-width-medium" type="text" placeholder="Click to add" disabled>
                </div>
            </div>
        <button class="uk-button uk-button-danger uk-align-center">Save Changes</button>
    </form>
    </div>
</div>