<div class="uk-container uk-container-small uk-margin-medium">
    {{#if top10}}
    <h2>Top 10</h2>
    {{/if}}
{{#each recipes}}
<div class="uk-card uk-card-default uk-width-1-1@m">
    <div class="uk-card-header">
        <div class="uk-grid-medium uk-flex-middle" uk-grid>
            <div class="uk-width-auto uk-border-circle" style="background-image: url({{images.[0]}}); background-size: cover; width: 90px; height: 90px">
            </div>
            <div class="uk-width-expand uk-text-middle">
                <a class="uk-text-default uk-text-emphasis uk-text-decoration-none uk-text-middle uk-text-break" href="/recipe/{{_id}}">{{name}}</a>
                <span class="uk-text-middle uk-text-muted uk-align-right uk-text-small" uk-icon="comments"> Reviews: {{_reviews.length}} </span>
                <span class="uk-text-middle uk-text-warning uk-align-right uk-text-small" uk-icon="star"> Rating: {{averageRating}} </span>
            </div>
        </div>
    </div>
</div>
{{/each}}
{{#if errorMessage}}
<div class="uk-alert-danger" uk-alert>
    {{errorMessage}}
{{/if}}
</div>